<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="nnu.edu.Shore.dao.shore.GNSSRecordMapper">
    <resultMap id="gnssRecordMap" type="nnu.edu.Shore.pojo.GNSSRecord">
        <id property="idGroup.station_id" column="station_id"/>
        <id property="idGroup.machine_id" column="machine_id"/>
        <id property="idGroup.machine_id_nnu" column="machine_id_nnu"/>
        <id property="idGroup.measure_time" column="measure_time"/>
        <result property="x_move" column="x_move"/>
        <result property="y_move" column="y_move"/>
        <result property="z_move" column="z_move"/>
        <result property="threeD" column="threeD"/>
        <result property="threeDF" column="threeDF"/>
        <result property="in_time" column="in_time"/>
    </resultMap>
    <insert id="insertGNSSRecord" parameterType="nnu.edu.Shore.pojo.GNSSRecord" useGeneratedKeys="true" keyProperty="idGroup">
        INSERT INTO gnss_record (station_id, machine_id, machine_id_nnu, measure_time, x_move, y_move, z_move, threed, threedf, in_time)
        VALUES (#{idGroup.station_id}, #{idGroup.machine_id}, #{idGroup.machine_id_nnu}, #{idGroup.measure_time}, #{x_move}, #{y_move}, #{z_move}, #{threeD}, #{threeDF}, #{in_time})
    </insert>
    <select id="getAllGNSSRecord" resultMap="gnssRecordMap">
        SELECT * from gnss_record ORDER BY in_time DESC LIMIT 100
    </select>
    <select id="getGNSSRecordCount" resultType="integer">
        SELECT COUNT(*) from gnss_record
    </select>
    <select id="getLatestRecord" resultType="nnu.edu.Shore.pojo.GNSSRecord">
        SELECT * FROM gnss_record ORDER BY in_time DESC LIMIT 1;
    </select>
</mapper>